# Data acquisition

In [2]:
import importlib
import pandas as pd
import functions.data_acquisition as data_funcs

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [13]:
url='https://data.ntsb.gov/avdata/FileDirectory/DownloadFile?fileID=C%3A%5Cavdata%5Cavall.zip'
data_funcs.download_data(url)

### 1.2. Parse

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [14]:
file='avall.mdb'
table=data_funcs.parse_mdb(file)

### 1.3. Read

In [2]:
aircraft_df=pd.read_csv('../data/raw/aircraft.csv',low_memory=False)
aircraft_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,...,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,...,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,...,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN

## 2. On-time performance data

### 2.1. Get download links

In [2]:
path = '../data/raw/on time data'
importlib.reload(data_funcs)
data_funcs.unzip_files(path, path, separate_folders=True)

All zip files have been extracted.

In [3]:
path = '../data/raw/on time data'
importlib.reload(data_funcs)
on_time_df = data_funcs.combine_csvs_from_subfolders_chunked(path, output_filename="combined_data.csv")

Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_12/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_12.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_9/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_9.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_6/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_6.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_3/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_3.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_10/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_10.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_2/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_2.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_7/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_7.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_11/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_11.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_4/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_4.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_8/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_8.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_5/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_5.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_1/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_1.csv...

âœ… Combined CSV saved to: ../data/raw/on time data/combined_data.csv

In [ ]:
# url='https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time'
# links=data_funcs.get_ontime_links(url)

### 2.2. Download on-time data

In [ ]:
# n_files=3

# data_funcs.download_ontime_data(links[:n_files])

### 2.3. Parse and combine on-time datafiles

In [ ]:
# data_df=data_funcs.read_asc_datafiles(n_files)

../data/raw/ontime.td.202412.asc
../data/raw/ontime.td.202410.asc
../data/raw/ontime.td.202411.asc

### 2.3. Save as CSV

In [ ]:
# data_df.to_csv('../data/raw/on_time.csv', index=False)

## 2. Airline Registration Data

### 2.1. Download the data

In [12]:
# importlib.reload(data_funcs)

# url='https://www.faa.gov/licenses_certificates/aircraft_certification/aircraft_registry/releasable_aircraft_download'
# aircraft_regis_df = data_funcs.download_airplane_regis(url)