# Data acquisition

In [1]:
import pandas as pd
import functions.data_acquisition as data_funcs

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [2]:
url='https://data.ntsb.gov/avdata/FileDirectory/DownloadFile?fileID=C%3A%5Cavdata%5Cavall.zip'
data_funcs.download_data(url)

### 1.2. Parse and save as CSV

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [3]:
file='avall.mdb'
table=data_funcs.parse_mdb(file)

### 1.3. Check CSV contents

In [4]:
incidents_df=pd.read_csv('../data/raw/aircraft.csv',low_memory=False)
incidents_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,...,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,...,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,...,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN

In [5]:
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29157 entries, 0 to 29156
Data columns (total 93 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Aircraft_Key             29157 non-null  int64
 1   cert_max_gr_wt           19951 non-null  float64
 2   fc_seats                 11273 non-null  float64
 3   cc_seats                 1387 non-null   float64
 4   pax_seats                10435 non-null  float64
 5   total_seats              22995 non-null  float64
 6   num_eng                  24963 non-null  float64
 7   date_last_insp           19274 non-null  object
 8   afm_hrs_last_insp        7949 non-null   float64
 9   afm_hrs                  18910 non-null  float64
 10  dprt_time                18521 non-null  float64
 11  phase_flt_spec           0 non-null      float64
 12  lchg_date                29157 non-null  object
 13  rwy_len                  12906 non-null  float64
 14  rwy_width                12842 non-null  float64
 15  acft_year                15051 non-null  float64
 16  commercial_space_flight  29157 non-null  bool
 17  unmanned                 29157 non-null  bool
 18  ifr_equipped_cert        29157 non-null  bool
 19  elt_mounted_aircraft     29157 non-null  bool
 20  elt_connected_antenna    29157 non-null  bool
 21  ev_id                    29157 non-null  object
 22  regis_no                 29112 non-null  object
 23  ntsb_no                  29157 non-null  object
 24  acft_missing             29157 non-null  object
 25  far_part                 28453 non-null  object
 26  flt_plan_filed           24539 non-null  object
 27  flight_plan_activated    17653 non-null  object
 28  damage                   27244 non-null  object
 29  acft_fire                28901 non-null  object
 30  acft_expl                28076 non-null  object
 31  acft_make                29114 non-null  object
 32  acft_model               29103 non-null  object
 33  acft_series              10888 non-null  object
 34  acft_serial_no           26499 non-null  object
 35  acft_category            28757 non-null  object
 36  acft_reg_cls             0 non-null      float64
 37  homebuilt                29157 non-null  object
 38  fixed_retractable        29157 non-null  object
 39  type_last_insp           21698 non-null  object
 40  elt_install              20795 non-null  object
 41  elt_oper                 16262 non-null  object
 42  elt_aided_loc_ev         9334 non-null   object
 43  elt_type                 13173 non-null  object
 44  owner_acft               15761 non-null  object
 45  owner_street             9327 non-null   object
 46  owner_city               24558 non-null  object
 47  owner_state              24020 non-null  object
 48  owner_country            27220 non-null  object
 49  owner_zip                23317 non-null  object
 50  oper_individual_name     29157 non-null  object
 51  oper_name                15085 non-null  object
 52  oper_same                0 non-null      float64
 53  oper_dba                 1361 non-null   object
 54  oper_addr_same           0 non-null      float64
 55  oper_street              7376 non-null   object
 56  oper_city                23898 non-null  object
 57  oper_state               23359 non-null  object
 58  oper_country             27037 non-null  object
 59  oper_zip                 21934 non-null  object
 60  oper_code                1870 non-null   object
 61  certs_held               25791 non-null  object
 62  oprtng_cert              0 non-null      float64
 63  oper_cert                0 non-null      float64
 64  oper_cert_num            1056 non-null   object
 65  oper_sched               3447 non-null   object
 66  oper_dom_int             3123 non-null   object
 67  oper_pax_cargo           2908 non-null   object
 68  type_fly                 23473 non-null  object
 69  second_pilot             23565 non-null  object
 70  dprt_pt_same_ev          4401 non-null   object
 71  dprt_apt_id              20953 non-null  object
 72  dprt_city                23515 non-null  object
 73  dprt_state               21659 non-null  object
 74  dprt_country             24093 non-null  object
 75  dprt_timezn              0 non-null      float64
 76  dest_same_local          0 non-null      float64
 77  dest_apt_id              18641 non-null  object
 78  dest_city                21347 non-null  object
 79  dest_state               19628 non-null  object
 80  dest_country             22225 non-null  object
 81  report_to_icao           0 non-null      float64
 82  evacuation               0 non-null      float64
 83  lchg_userid              9966 non-null   object
 84  afm_hrs_since            29157 non-null  object
 85  rwy_num                  13228 non-null  object
 86  site_seeing              25738 non-null  object
 87  air_medical              25749 non-null  object
 88  med_type_flight          132 non-null    object
 89  fuel_on_board            8743 non-null   float64
 90  elt_manufacturer         7022 non-null   object
 91  elt_model                6259 non-null   object
 92  elt_reason_other         0 non-null      float64
dtypes: bool(5), float64(24), int64(1), object(63)
memory usage: 19.7+ MB

## 2. On-time performance data

Data source: [Airline Service Quality Performance 234 (On-Time performance data)](https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time)

### 2.1. Get download links

In [6]:
url='https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time'
links=data_funcs.get_ontime_links(url)

### 2.2. Download on-time data

In [7]:
n_files=3

data_funcs.download_ontime_data(links[:n_files])

### 2.3. Parse and combine on-time datafiles

In [8]:
ontime_df=data_funcs.read_asc_datafiles(n_files)

../data/raw/ontime.td.202411.asc
../data/raw/ontime.td.202410.asc
../data/raw/ontime.td.202412.asc

### 2.3. Save as CSV

In [9]:
ontime_df.to_csv('../data/raw/on_time.csv', index=False)

## 3. Feature extraction

### 3.1. Incident data

In [10]:
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29157 entries, 0 to 29156
Data columns (total 93 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Aircraft_Key             29157 non-null  int64
 1   cert_max_gr_wt           19951 non-null  float64
 2   fc_seats                 11273 non-null  float64
 3   cc_seats                 1387 non-null   float64
 4   pax_seats                10435 non-null  float64
 5   total_seats              22995 non-null  float64
 6   num_eng                  24963 non-null  float64
 7   date_last_insp           19274 non-null  object
 8   afm_hrs_last_insp        7949 non-null   float64
 9   afm_hrs                  18910 non-null  float64
 10  dprt_time                18521 non-null  float64
 11  phase_flt_spec           0 non-null      float64
 12  lchg_date                29157 non-null  object
 13  rwy_len                  12906 non-null  float64
 14  rwy_width                12842 non-null  float64
 15  acft_year                15051 non-null  float64
 16  commercial_space_flight  29157 non-null  bool
 17  unmanned                 29157 non-null  bool
 18  ifr_equipped_cert        29157 non-null  bool
 19  elt_mounted_aircraft     29157 non-null  bool
 20  elt_connected_antenna    29157 non-null  bool
 21  ev_id                    29157 non-null  object
 22  regis_no                 29112 non-null  object
 23  ntsb_no                  29157 non-null  object
 24  acft_missing             29157 non-null  object
 25  far_part                 28453 non-null  object
 26  flt_plan_filed           24539 non-null  object
 27  flight_plan_activated    17653 non-null  object
 28  damage                   27244 non-null  object
 29  acft_fire                28901 non-null  object
 30  acft_expl                28076 non-null  object
 31  acft_make                29114 non-null  object
 32  acft_model               29103 non-null  object
 33  acft_series              10888 non-null  object
 34  acft_serial_no           26499 non-null  object
 35  acft_category            28757 non-null  object
 36  acft_reg_cls             0 non-null      float64
 37  homebuilt                29157 non-null  object
 38  fixed_retractable        29157 non-null  object
 39  type_last_insp           21698 non-null  object
 40  elt_install              20795 non-null  object
 41  elt_oper                 16262 non-null  object
 42  elt_aided_loc_ev         9334 non-null   object
 43  elt_type                 13173 non-null  object
 44  owner_acft               15761 non-null  object
 45  owner_street             9327 non-null   object
 46  owner_city               24558 non-null  object
 47  owner_state              24020 non-null  object
 48  owner_country            27220 non-null  object
 49  owner_zip                23317 non-null  object
 50  oper_individual_name     29157 non-null  object
 51  oper_name                15085 non-null  object
 52  oper_same                0 non-null      float64
 53  oper_dba                 1361 non-null   object
 54  oper_addr_same           0 non-null      float64
 55  oper_street              7376 non-null   object
 56  oper_city                23898 non-null  object
 57  oper_state               23359 non-null  object
 58  oper_country             27037 non-null  object
 59  oper_zip                 21934 non-null  object
 60  oper_code                1870 non-null   object
 61  certs_held               25791 non-null  object
 62  oprtng_cert              0 non-null      float64
 63  oper_cert                0 non-null      float64
 64  oper_cert_num            1056 non-null   object
 65  oper_sched               3447 non-null   object
 66  oper_dom_int             3123 non-null   object
 67  oper_pax_cargo           2908 non-null   object
 68  type_fly                 23473 non-null  object
 69  second_pilot             23565 non-null  object
 70  dprt_pt_same_ev          4401 non-null   object
 71  dprt_apt_id              20953 non-null  object
 72  dprt_city                23515 non-null  object
 73  dprt_state               21659 non-null  object
 74  dprt_country             24093 non-null  object
 75  dprt_timezn              0 non-null      float64
 76  dest_same_local          0 non-null      float64
 77  dest_apt_id              18641 non-null  object
 78  dest_city                21347 non-null  object
 79  dest_state               19628 non-null  object
 80  dest_country             22225 non-null  object
 81  report_to_icao           0 non-null      float64
 82  evacuation               0 non-null      float64
 83  lchg_userid              9966 non-null   object
 84  afm_hrs_since            29157 non-null  object
 85  rwy_num                  13228 non-null  object
 86  site_seeing              25738 non-null  object
 87  air_medical              25749 non-null  object
 88  med_type_flight          132 non-null    object
 89  fuel_on_board            8743 non-null   float64
 90  elt_manufacturer         7022 non-null   object
 91  elt_model                6259 non-null   object
 92  elt_reason_other         0 non-null      float64
dtypes: bool(5), float64(24), int64(1), object(63)
memory usage: 19.7+ MB

In [11]:
pd.set_option('display.max_columns', 200)
incidents_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,dprt_time,phase_flt_spec,lchg_date,rwy_len,rwy_width,acft_year,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,ev_id,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,acft_model,acft_series,acft_serial_no,acft_category,acft_reg_cls,homebuilt,fixed_retractable,type_last_insp,elt_install,elt_oper,elt_aided_loc_ev,elt_type,owner_acft,owner_street,owner_city,owner_state,owner_country,owner_zip,oper_individual_name,oper_name,oper_same,oper_dba,oper_addr_same,oper_street,oper_city,oper_state,oper_country,oper_zip,oper_code,certs_held,oprtng_cert,oper_cert,oper_cert_num,oper_sched,oper_dom_int,oper_pax_cargo,type_fly,second_pilot,dprt_pt_same_ev,dprt_apt_id,dprt_city,dprt_state,dprt_country,dprt_timezn,dest_same_local,dest_apt_id,dest_city,dest_state,dest_country,report_to_icao,evacuation,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-03 13:29:08,NaN,NaN,NaN,False,False,False,False,False,20080211X00175,N530NA,DFW08RA039,N,NUSN,NaN,NaN,SUBS,NaN,NaN,Eurocopter France,AS350B3,NaN,NaN,HELI,NaN,N,FIXD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Prism Helicopters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,2200.0,NaN,2020-09-25 18:05:31,2700.0,45.0,NaN,False,False,False,False,False,20080107X00026,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,NONE,PIPER,PA 28-180,NaN,28-2104,AIR,NaN,N,FIXD,ANNL,Y,N,N,NaN,Marshall White,NaN,Sebastopol,CA,USA,95472,N,Timothy Bennett,NaN,NaN,NaN,NaN,Novato,CA,USA,94949,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,PERS,N,NaN,O69,Petaluma,CA,USA,NaN,NaN,OQ3,Sonoma,CA,USA,NaN,NaN,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,2230.0,NaN,2020-09-25 18:05:31,2700.0,45.0,NaN,False,False,False,False,False,20080107X00026,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,NONE,Barnard/Stancil,Glastar,NaN,5496,AIR,NaN,Y,FIXD,COAW,Y,N,N,NaN,Kenneth Couey,NaN,Pioneer,CA,USA,95666,N,Kenneth Couey,NaN,NaN,NaN,NaN,Pioneer,CA,USA,95666,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,PERS,N,NaN,OQ3,Sonoma,CA,USA,NaN,NaN,O70,Jackson,CA,USA,NaN,NaN,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,2100.0,NaN,2020-09-25 18:05:31,5003.0,100.0,NaN,False,False,False,False,False,20080109X00036,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,NONE,Micco Aircraft Company,MAC-145B,NaN,260004,AIR,NaN,N,RETR,ANNL,Y,N,N,NaN,NaN,NaN,Gonzales,TX,USA,78629,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,PERS,N,NaN,T20,GONZALES,TX,USA,NaN,NaN,AXH,HOUSTON,TX,USA,NaN,NaN,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,400.0,NaN,2020-09-25 18:04:02,NaN,NaN,NaN,False,False,False,False,False,20080107X00027,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,NONE,Pilatus,PC-12/45,NaN,398,AIR,NaN,N,RETR,UNK,Y,N,N,NaN,Oklahoma cardiovascular Associates PC,NaN,Oklahoma City,OK,USA,73`120,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,PERS,N,NaN,PHX,Phoenix,CA,USA,NaN,NaN,PWA,Oklahoma City,OK,USA,NaN,NaN,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN

In [21]:
incident_features={
    'dprt_time': 'departure_time',
    'dprt_apt_id': 'origin',
    'dest_apt_id': 'destination'
}

extracted_incident_df=incidents_df[incident_features.keys()].copy()
extracted_incident_df=extracted_incident_df.rename(columns=incident_features)
extracted_incident_df['incident']=[1]*len(extracted_incident_df)

extracted_incident_df.to_csv('../data/interim/extracted_incident_data.csv', index=False)

extracted_incident_df.head()

   departure_time origin destination  incident
0             NaN    NaN         NaN         1
1          2200.0   O69         OQ3          1
2          2230.0   OQ3         O70          1
3          2100.0   T20         AXH          1
4           400.0   PHX         PWA          1

### 3.2. On-time data

In [24]:
ontime_features={
    # 'carrier': 0,
    # 'flight_number': 1,
    'origin': 6,
    'destination': 7,
    # 'date': 8,
    'departure_time': 12    
}

extracted_ontime_df=ontime_df.iloc[:,list(ontime_features.values())].copy()
extracted_ontime_df.columns=ontime_features.keys()
extracted_ontime_df['incident']=[0]*len(extracted_ontime_df)

extracted_ontime_df.head()

extracted_ontime_df.to_csv('../data/interim/extracted_on_time_data.csv', index=False)

### 3.3. Combine incident and on-time data

In [25]:
data_df=pd.concat([extracted_ontime_df, extracted_incident_df], axis=0)
data_df.to_csv('../data/processed/combined_data.csv', index=False)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1932106 entries, 0 to 29156
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   origin          object
 1   destination     object
 2   departure_time  float64
 3   incident        int64
dtypes: float64(1), int64(1), object(2)
memory usage: 73.7+ MB