# Data acquisition

In [1]:
import pandas as pd
import functions.data_acquisition as data_funcs

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [2]:
url='https://data.ntsb.gov/avdata/FileDirectory/DownloadFile?fileID=C%3A%5Cavdata%5Cavall.zip'
data_funcs.download_data(url)

### 1.2. Parse and save as CSV

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [3]:
file='avall.mdb'
table=data_funcs.parse_mdb(file)

### 1.3. Check CSV contents

In [4]:
aircraft_df=pd.read_csv('../data/raw/aircraft.csv',low_memory=False)
aircraft_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,...,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,...,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,...,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN

In [11]:
aircraft_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29157 entries, 0 to 29156
Data columns (total 93 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Aircraft_Key             29157 non-null  int64
 1   cert_max_gr_wt           19951 non-null  float64
 2   fc_seats                 11273 non-null  float64
 3   cc_seats                 1387 non-null   float64
 4   pax_seats                10435 non-null  float64
 5   total_seats              22995 non-null  float64
 6   num_eng                  24963 non-null  float64
 7   date_last_insp           19274 non-null  object
 8   afm_hrs_last_insp        7949 non-null   float64
 9   afm_hrs                  18910 non-null  float64
 10  dprt_time                18521 non-null  float64
 11  phase_flt_spec           0 non-null      float64
 12  lchg_date                29157 non-null  object
 13  rwy_len                  12906 non-null  float64
 14  rwy_width                12842 non-null  float64
 15  acft_year                15051 non-null  float64
 16  commercial_space_flight  29157 non-null  bool
 17  unmanned                 29157 non-null  bool
 18  ifr_equipped_cert        29157 non-null  bool
 19  elt_mounted_aircraft     29157 non-null  bool
 20  elt_connected_antenna    29157 non-null  bool
 21  ev_id                    29157 non-null  object
 22  regis_no                 29112 non-null  object
 23  ntsb_no                  29157 non-null  object
 24  acft_missing             29157 non-null  object
 25  far_part                 28453 non-null  object
 26  flt_plan_filed           24539 non-null  object
 27  flight_plan_activated    17653 non-null  object
 28  damage                   27244 non-null  object
 29  acft_fire                28901 non-null  object
 30  acft_expl                28076 non-null  object
 31  acft_make                29114 non-null  object
 32  acft_model               29103 non-null  object
 33  acft_series              10888 non-null  object
 34  acft_serial_no           26499 non-null  object
 35  acft_category            28757 non-null  object
 36  acft_reg_cls             0 non-null      float64
 37  homebuilt                29157 non-null  object
 38  fixed_retractable        29157 non-null  object
 39  type_last_insp           21698 non-null  object
 40  elt_install              20795 non-null  object
 41  elt_oper                 16262 non-null  object
 42  elt_aided_loc_ev         9334 non-null   object
 43  elt_type                 13173 non-null  object
 44  owner_acft               15761 non-null  object
 45  owner_street             9327 non-null   object
 46  owner_city               24558 non-null  object
 47  owner_state              24020 non-null  object
 48  owner_country            27220 non-null  object
 49  owner_zip                23317 non-null  object
 50  oper_individual_name     29157 non-null  object
 51  oper_name                15085 non-null  object
 52  oper_same                0 non-null      float64
 53  oper_dba                 1361 non-null   object
 54  oper_addr_same           0 non-null      float64
 55  oper_street              7376 non-null   object
 56  oper_city                23898 non-null  object
 57  oper_state               23359 non-null  object
 58  oper_country             27037 non-null  object
 59  oper_zip                 21934 non-null  object
 60  oper_code                1870 non-null   object
 61  certs_held               25791 non-null  object
 62  oprtng_cert              0 non-null      float64
 63  oper_cert                0 non-null      float64
 64  oper_cert_num            1056 non-null   object
 65  oper_sched               3447 non-null   object
 66  oper_dom_int             3123 non-null   object
 67  oper_pax_cargo           2908 non-null   object
 68  type_fly                 23473 non-null  object
 69  second_pilot             23565 non-null  object
 70  dprt_pt_same_ev          4401 non-null   object
 71  dprt_apt_id              20953 non-null  object
 72  dprt_city                23515 non-null  object
 73  dprt_state               21659 non-null  object
 74  dprt_country             24093 non-null  object
 75  dprt_timezn              0 non-null      float64
 76  dest_same_local          0 non-null      float64
 77  dest_apt_id              18641 non-null  object
 78  dest_city                21347 non-null  object
 79  dest_state               19628 non-null  object
 80  dest_country             22225 non-null  object
 81  report_to_icao           0 non-null      float64
 82  evacuation               0 non-null      float64
 83  lchg_userid              9966 non-null   object
 84  afm_hrs_since            29157 non-null  object
 85  rwy_num                  13228 non-null  object
 86  site_seeing              25738 non-null  object
 87  air_medical              25749 non-null  object
 88  med_type_flight          132 non-null    object
 89  fuel_on_board            8743 non-null   float64
 90  elt_manufacturer         7022 non-null   object
 91  elt_model                6259 non-null   object
 92  elt_reason_other         0 non-null      float64
dtypes: bool(5), float64(24), int64(1), object(63)
memory usage: 19.7+ MB

## 2. On-time performance data

Data source: [Airline Service Quality Performance 234 (On-Time performance data)](https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time)

### 2.1. Get download links

In [5]:
url='https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time'
links=data_funcs.get_ontime_links(url)

### 2.2. Download on-time data

In [6]:
n_files=3

data_funcs.download_ontime_data(links[:n_files])

### 2.3. Parse and combine on-time datafiles

In [7]:
data_df=data_funcs.read_asc_datafiles(n_files)

../data/raw/ontime.td.202411.asc
../data/raw/ontime.td.202410.asc
../data/raw/ontime.td.202412.asc

In [8]:
data_df.head()

,DL,3673,OO,3673.1,9E,5538,DTW,MSN,20241121,4,...,95,82,148,1617,1712,N915XJ,21,6,55,148.1
0,DL,3673.0,OO,3673.0,9E,5539.0,MSN,DTW,20241121.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DL,4800.0,NaN,NaN,9E,4800.0,CLT,LGA,20241101.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DL,4800.0,NaN,NaN,9E,4800.0,CLT,LGA,20241102.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DL,4800.0,NaN,NaN,9E,4800.0,CLT,LGA,20241103.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DL,4800.0,NaN,NaN,9E,4800.0,CLT,LGA,20241104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902949 entries, 0 to 1902948
Columns: 121 entries, DL to 148.1
dtypes: float64(72), int64(29), object(20)
memory usage: 1.7+ GB

### 2.3. Save as CSV

In [10]:
data_df.to_csv('../data/raw/on_time.csv', index=False)